# Application of Machine Learning Methods to Analysis of Cyber-Sport Events
## Dmitry Savostyanov, 131

## Витрина данных по участникам Kiev Major

## Финальный файл скрипта: ABT_[DATE].csv

В данном скрипте представлена таблица по командам, которые указаны в файле Dota Features & Snippets - Roles.csv за период с 1 января 2017 года по сегодняшний день. Строка таблицы - информация о матче на уровне игрока. Т.е. если между IG и LGD был матч с match_id = 12345, то таблица содержит 10 записей с данным идентификаторм для каждого конкретного account_id.

In [1]:
%matplotlib notebook
from IPython.core.display import display, HTML
import matplotlib.pyplot as plt
import numpy as np
import json
import pandas as pd
import requests
from datetime import datetime
import time
from requests.auth import HTTPBasicAuth
import sys
import io
import datetime
import math 
import sklearn

In [2]:
def download_google_spreadsheet(url):
    try:
        resp = requests.get(url)
        resp.raise_for_status()
        content_bytes = resp.content
    except requests.exceptions.HTTPError as err:
        print(err, file=sys.stderr)
    try:
        content = pd.read_csv(io.BytesIO(content_bytes))
        return content
    except Exception as err:
        print("failed to convert bytes to csv:", err, file=sys.stderr)

In [3]:
def query_opendota(sql):
    resp = requests.get('https://api.opendota.com/api/explorer', params={'sql': sql})
    data = resp.json()
    if resp.status_code == 400 and data is not None:
        sys.stderr.write(data['err'])
    resp.raise_for_status()
    return pd.DataFrame.from_records(data['rows'])

In [94]:
def query_ward_table():
    df_wards = query_opendota('''
SELECT
    -- Basic table
    matches.match_id,
    player_matches.account_id,
    teams.team_id,
    matches.leagueid,
    leagues.name leaguename,
    matches.start_time,
    player_matches.hero_id,
    player_matches.player_slot,
    ((player_matches.player_slot < 128) = matches.radiant_win) win,
        player_matches.kills,
    player_matches.deaths,
    player_matches.assists,
    player_matches.gold_per_min ,
    player_matches.xp_per_min ,
    player_matches.gold_spent ,
    player_matches.hero_damage ,
    player_matches.tower_damage ,
    player_matches.stuns ,
    player_matches.creeps_stacked ,
    player_matches.camps_stacked ,
    player_matches.hero_healing ,
    player_matches.last_hits,
    player_matches.denies,
    player_matches.level,
    matches.duration,
    matches.cluster,
    matches.first_blood_time,

    --timeStamp variables
    player_matches.gold_t[3] t_Gold_cnt_3,
    player_matches.gold_t[5] t_Gold_cnt_5,
    player_matches.gold_t[8] t_Gold_cnt_8,
    player_matches.gold_t[10] t_Gold_cnt_10,
    player_matches.gold_t[12] t_Gold_cnt_12,
    player_matches.gold_t[15] t_Gold_cnt_15,
    player_matches.gold_t[20] t_Gold_cnt_20,
    player_matches.gold_t[25] t_Gold_cnt_25,
    player_matches.gold_t[30] t_Gold_cnt_30,

    player_matches.lh_t[3] t_LastHits_cnt_3,
    player_matches.lh_t[5] t_LastHits_cnt_5,
    player_matches.lh_t[8] t_LastHits_cnt_8,
    player_matches.lh_t[10] t_LastHits_cnt_10,
    player_matches.lh_t[12] t_LastHits_cnt_12,
    player_matches.lh_t[15] t_LastHits_cnt_15,
    player_matches.lh_t[20] t_LastHits_cnt_20,
    player_matches.lh_t[25] t_LastHits_cnt_25,
    player_matches.lh_t[30] t_LastHits_cnt_30,

    player_matches.xp_t[3] t_Experience_cnt_3,
    player_matches.xp_t[5] t_Experience_cnt_5,
    player_matches.xp_t[8] t_Experience_cnt_8,
    player_matches.xp_t[10] t_Experience_cnt_10,
    player_matches.xp_t[12] t_Experience_cnt_12,
    player_matches.xp_t[15] t_Experience_cnt_15,
    player_matches.xp_t[20] t_Experience_cnt_20,
    player_matches.xp_t[25] t_Experience_cnt_25,
    player_matches.xp_t[30] t_Experience_cnt_30,

    player_matches.pings ping_log,
    player_matches.obs_log,
    player_matches.sen_log,
    player_matches.runes_log,
    player_matches.kills_log,
    player_matches.buyback_log,
    
    player_matches.gold_reasons,

    --table_heroStats
    heroes.localized_name,
    heroes.attack_type,
    heroes.primary_attr,
    heroes.roles role_log,

    --purchase_log
    player_matches.purchase_log
FROM 
    matches
        JOIN match_patch using(match_id)
        JOIN leagues using(leagueid)
        JOIN player_matches using(match_id)
        JOIN heroes on heroes.id = player_matches.hero_id
        LEFT JOIN notable_players ON notable_players.account_id = player_matches.account_id AND notable_players.locked_until = (SELECT MAX(locked_until) FROM notable_players)
        LEFT JOIN teams using(team_id)
WHERE TRUE
    AND matches.leagueid = 5401 OR matches.leagueid = 4442
    AND matches.start_time >= extract(epoch from timestamp '2017-06-30T21:00:00.000Z')
    AND teams.team_id IN (5, 15, 39, 46, 2163, 350190, 1375614, 1838315, 1883502, 2108395, 2512249, 2581813, 2586976, 2640025, 2672298, 1333179, 3331948, 1846548)
ORDER BY 
    matches.match_id DESC NULLS LAST
    LIMIT 10000
    '''.format(**locals()))
    return df_wards

# Загружаем данные в формате json, парсим и сохраняем в Pandas

Предварительно ссылку стоит открыть в браузере, иначе она не хочет грузиться (слишком большая?)

In [95]:
matches = query_ward_table()
matches['id'] = matches['match_id'].astype('str') + "_" + matches['account_id'].astype('str')
print(matches.shape)
matches['datetime'] = matches["start_time"].apply(lambda x: datetime.datetime.fromtimestamp(x).strftime('%d.%m.%Y %H:%M:%S'))

(5616, 67)

# Добавляем уникальный идентификатор matchId_accountId и дату

In [96]:
matches['id'] = matches['match_id'].astype('str') + "_" + matches['account_id'].astype('str')
print(matches.shape)
matches['datetime'] = matches["start_time"].apply(lambda x: datetime.datetime.fromtimestamp(x).strftime('%d.%m.%Y %H:%M:%S'))

(5616, 68)

In [134]:
df_gold_reasons = matches['gold_reasons'].apply(pd.Series)
for col in df_gold_reasons.columns:
    df_gold_reasons.rename(columns={col: '{}_{}'.format('gold_reason', col)}, inplace=True)
df_gold_reasons.head()

,gold_reason_0,gold_reason_1,gold_reason_11,gold_reason_12,gold_reason_13,gold_reason_14,gold_reason_15,gold_reason_2,gold_reason_5,gold_reason_6
0,880.0,-1012.0,440.0,844.0,7260.0,NaN,NaN,NaN,NaN,25.0
1,1168.0,-718.0,440.0,1435.0,795.0,NaN,NaN,NaN,NaN,137.0
2,1103.0,-652.0,632.0,1240.0,5927.0,NaN,NaN,NaN,NaN,200.0
3,925.0,-420.0,440.0,1792.0,692.0,NaN,NaN,NaN,NaN,NaN
4,923.0,-1301.0,889.0,969.0,6859.0,NaN,NaN,NaN,NaN,NaN

# Список переменных

In [8]:
list(matches)

['account_id',
 'assists',
 'attack_type',
 'buyback_log',
 'camps_stacked',
 'cluster',
 'creeps_stacked',
 'deaths',
 'denies',
 'duration',
 'first_blood_time',
 'gold_per_min',
 'gold_spent',
 'hero_damage',
 'hero_healing',
 'hero_id',
 'kills',
 'kills_log',
 'last_hits',
 'leagueid',
 'leaguename',
 'level',
 'localized_name',
 'match_id',
 'obs_log',
 'ping_log',
 'player_slot',
 'primary_attr',
 'purchase_log',
 'role_log',
 'runes_log',
 'sen_log',
 'start_time',
 'stuns',
 't_experience_cnt_10',
 't_experience_cnt_12',
 't_experience_cnt_15',
 't_experience_cnt_20',
 't_experience_cnt_25',
 't_experience_cnt_3',
 't_experience_cnt_30',
 't_experience_cnt_5',
 't_experience_cnt_8',
 't_gold_cnt_10',
 't_gold_cnt_12',
 't_gold_cnt_15',
 't_gold_cnt_20',
 't_gold_cnt_25',
 't_gold_cnt_3',
 't_gold_cnt_30',
 't_gold_cnt_5',
 't_gold_cnt_8',
 't_lasthits_cnt_10',
 't_lasthits_cnt_12',
 't_lasthits_cnt_15',
 't_lasthits_cnt_20',
 't_lasthits_cnt_25',
 't_lasthits_cnt_3',
 't_lasthits_cnt_30',
 't_lasthits_cnt_5',
 't_lasthits_cnt_8',
 'team_id',
 'tower_damage',
 'win',
 'xp_per_min',
 'id',
 'datetime']

In [9]:
matches.groupby('match_id', as_index=False).last()[['match_id', 'datetime']].tail(48).match_id.tolist()

[3372622939,
 3372676225,
 3372726385,
 3428229571,
 3428302772,
 3442422325,
 3442480297,
 3444110210,
 3444185690,
 3446029118,
 3446105401,
 3448037380,
 3448171489,
 3448470602,
 3448529994,
 3450535143,
 3450608497,
 3450683382,
 3453799086,
 3453910490,
 3455679928,
 3455787956,
 3455876158,
 3548237028,
 3548362140,
 3548515278,
 3548643001,
 3549016458,
 3549071620,
 3549145408,
 3549205058,
 3549257953,
 3550198389,
 3550304896,
 3551325652,
 3551396595,
 3551461157,
 3551555634,
 3551643758,
 3551813576,
 3551919843,
 3552018378,
 3552431131,
 3552521258,
 3552645241,
 3552680898,
 3561318259,
 3561414435]

In [10]:
matches.head()

,account_id,assists,attack_type,buyback_log,camps_stacked,cluster,creeps_stacked,deaths,denies,duration,...,t_lasthits_cnt_3,t_lasthits_cnt_30,t_lasthits_cnt_5,t_lasthits_cnt_8,team_id,tower_damage,win,xp_per_min,id,datetime
0,111189717,6,Melee,[],2.0,224,6.0,3,12,1704,...,7.0,146.0,15.0,19.0,3331948.0,784,False,442,3561414435_111189717,14.11.2017 13:35:24
1,148215639,7,Ranged,[],0.0,224,0.0,6,13,1704,...,5.0,155.0,7.0,16.0,3331948.0,1318,False,355,3561414435_148215639,14.11.2017 13:35:24
2,90882159,5,Ranged,[],0.0,224,0.0,4,12,1704,...,3.0,162.0,10.0,19.0,3331948.0,373,False,451,3561414435_90882159,14.11.2017 13:35:24
3,114239371,6,Melee,[],0.0,224,0.0,6,1,1704,...,0.0,19.0,0.0,0.0,3331948.0,134,False,280,3561414435_114239371,14.11.2017 13:35:24
4,119576842,8,Ranged,[],0.0,224,0.0,5,3,1704,...,1.0,15.0,2.0,3.0,3331948.0,0,False,239,3561414435_119576842,14.11.2017 13:35:24

# Parse Items Timing

In [11]:
t_item = dict()
itemList = [
            'blink',
            'power_treads',
            'ultimate_scepter',
            'phase_boots',
            'travel_boots',
            'blade_mail',
            'arcane_boots',
            'black_king_bar',
            'desolator',
            'magic_wand',
            'tranquil_boots',
            'invis_sword',
            'echo_sabre',
            'manta',
            'ring_of_aquila',
            'force_staff',
            'aether_lens',
            'wind_lace',
            'silver_edge',
            'hand_of_midas',
            'sphere',
            'boots',
            'hurricane_pike',
            'bottle'            
            ]
columnNames = ['id']

for item in itemList:
    columnNames.append("t_item_" + item)

items = pd.DataFrame(columns = columnNames)
    
for i in range(0, len(matches['purchase_log'])):
    
    purchaseList = matches['purchase_log'][i]
    for item in itemList:
        columnName = "t_item_" + item
        t_item[columnName] = np.nan
        
    if not purchaseList is None:
        for purchase in purchaseList:
            for item in itemList:
                columnName = "t_item_" + item
                if purchase['key'] == item and purchase['time'] < 30*60:
                    t_item[columnName] = purchase['time']
                    unique_id = matches['match_id'][i].astype('str') + "_" + matches['account_id'][i].astype('str')
                    t_item['id'] = unique_id
        itemsRow = pd.DataFrame.from_dict(t_item, orient = 'index').transpose()
        items = items.append(itemsRow, ignore_index=True)           
    else: 
        print("Line %s: Log does not exists" %i)

Line 316: Log does not exists
Line 317: Log does not exists
Line 318: Log does not exists
Line 319: Log does not exists
Line 320: Log does not exists
Line 321: Log does not exists
Line 322: Log does not exists
Line 323: Log does not exists
Line 324: Log does not exists
Line 325: Log does not exists
Line 4326: Log does not exists
Line 4327: Log does not exists
Line 4328: Log does not exists
Line 4329: Log does not exists
Line 4330: Log does not exists
Line 4331: Log does not exists
Line 4332: Log does not exists
Line 4333: Log does not exists
Line 4334: Log does not exists
Line 4335: Log does not exists

In [12]:
items.shape

(5596, 25)

In [13]:
matches = matches.merge(items, left_on='id', right_on='id', how='inner')
matches.shape

(5596, 91)

73 записи было удалено из таблицы в связи с отсутствием логов о покупках игроков.

# First Kill Timing (Время в секундах от старта первой пачки крипов)

In [14]:
for i in range(0, len(matches)):
    matches.loc[i, 't_first_kill'] = 0
    try:
        t_first_kill = matches['kills_log'][i][0]['time']
    except Exception:
        print("Line %s: Player has 0 kills" %i)
    if t_first_kill is not None:
        matches.loc[i, 't_first_kill'] = t_first_kill

Line 19: Player has 0 kills
Line 20: Player has 0 kills
Line 30: Player has 0 kills
Line 47: Player has 0 kills
Line 48: Player has 0 kills
Line 78: Player has 0 kills
Line 90: Player has 0 kills
Line 116: Player has 0 kills
Line 119: Player has 0 kills
Line 183: Player has 0 kills
Line 197: Player has 0 kills
Line 214: Player has 0 kills
Line 218: Player has 0 kills
Line 229: Player has 0 kills
Line 245: Player has 0 kills
Line 267: Player has 0 kills
Line 281: Player has 0 kills
Line 284: Player has 0 kills
Line 286: Player has 0 kills
Line 300: Player has 0 kills
Line 316: Player has 0 kills
Line 325: Player has 0 kills
Line 330: Player has 0 kills
Line 331: Player has 0 kills
Line 333: Player has 0 kills
Line 334: Player has 0 kills
Line 357: Player has 0 kills
Line 359: Player has 0 kills
Line 408: Player has 0 kills
Line 435: Player has 0 kills
Line 442: Player has 0 kills
Line 447: Player has 0 kills
Line 469: Player has 0 kills
Line 471: Player has 0 kills
Line 473: Player has 0 kills
Line 497: Player has 0 kills
Line 516: Player has 0 kills
Line 522: Player has 0 kills
Line 551: Player has 0 kills
Line 553: Player has 0 kills
Line 564: Player has 0 kills
Line 566: Player has 0 kills
Line 569: Player has 0 kills
Line 579: Player has 0 kills
Line 619: Player has 0 kills
Line 630: Player has 0 kills
Line 656: Player has 0 kills
Line 682: Player has 0 kills
Line 698: Player has 0 kills
Line 717: Player has 0 kills
Line 733: Player has 0 kills
Line 737: Player has 0 kills
Line 738: Player has 0 kills
Line 744: Player has 0 kills
Line 749: Player has 0 kills
Line 806: Player has 0 kills
Line 839: Player has 0 kills
Line 859: Player has 0 kills
Line 868: Player has 0 kills
Line 872: Player has 0 kills
Line 878: Player has 0 kills
Line 903: Player has 0 kills
Line 910: Player has 0 kills
Line 911: Player has 0 kills
Line 915: Player has 0 kills
Line 919: Player has 0 kills
Line 926: Player has 0 kills
Line 979: Player has 0 kills
Line 1019: Player has 0 kills
Line 1036: Player has 0 kills
Line 1051: Player has 0 kills
Line 1055: Player has 0 kills
Line 1060: Player has 0 kills
Line 1089: Player has 0 kills
Line 1131: Player has 0 kills
Line 1132: Player has 0 kills
Line 1134: Player has 0 kills
Line 1137: Player has 0 kills
Line 1152: Player has 0 kills
Line 1153: Player has 0 kills
Line 1154: Player has 0 kills
Line 1156: Player has 0 kills
Line 1157: Player has 0 kills
Line 1160: Player has 0 kills
Line 1165: Player has 0 kills
Line 1166: Player has 0 kills
Line 1176: Player has 0 kills
Line 1178: Player has 0 kills
Line 1224: Player has 0 kills
Line 1236: Player has 0 kills
Line 1240: Player has 0 kills
Line 1277: Player has 0 kills
Line 1281: Player has 0 kills
Line 1282: Player has 0 kills
Line 1306: Player has 0 kills
Line 1329: Player has 0 kills
Line 1371: Player has 0 kills
Line 1394: Player has 0 kills
Line 1438: Player has 0 kills
Line 1490: Player has 0 kills
Line 1492: Player has 0 kills
Line 1495: Player has 0 kills
Line 1505: Player has 0 kills
Line 1506: Player has 0 kills
Line 1508: Player has 0 kills
Line 1521: Player has 0 kills
Line 1523: Player has 0 kills
Line 1524: Player has 0 kills
Line 1526: Player has 0 kills
Line 1529: Player has 0 kills
Line 1546: Player has 0 kills
Line 1555: Player has 0 kills
Line 1565: Player has 0 kills
Line 1629: Player has 0 kills
Line 1632: Player has 0 kills
Line 1667: Player has 0 kills
Line 1670: Player has 0 kills
Line 1673: Player has 0 kills
Line 1674: Player has 0 kills
Line 1679: Player has 0 kills
Line 1702: Player has 0 kills
Line 1729: Player has 0 kills
Line 1732: Player has 0 kills
Line 1733: Player has 0 kills
Line 1780: Player has 0 kills
Line 1804: Player has 0 kills
Line 1813: Player has 0 kills
Line 1820: Player has 0 kills
Line 1836: Player has 0 kills
Line 1846: Player has 0 kills
Line 1856: Player has 0 kills
Line 1861: Player has 0 kills
Line 1899: Player has 0 kills
Line 1916: Player has 0 kills
Line 1917: Player has 0 kills
Line 1921: Player has 0 kills
Line 1922: Player has 0 kills
Line 1924: Player has 0 kills
Line 1929: Player has 0 kills
Line 1930: Player has 0 kills
Line 1953: Player has 0 kills
Line 1963: Player has 0 kills
Line 1969: Player has 0 kills
Line 2017: Player has 0 kills
Line 2018: Player has 0 kills
Line 2019: Player has 0 kills
Line 2024: Player has 0 kills
Line 2025: Player has 0 kills
Line 2038: Player has 0 kills
Line 2051: Player has 0 kills
Line 2053: Player has 0 kills
Line 2055: Player has 0 kills
Line 2138: Player has 0 kills
Line 2145: Player has 0 kills
Line 2158: Player has 0 kills
Line 2177: Player has 0 kills
Line 2185: Player has 0 kills
Line 2191: Player has 0 kills
Line 2194: Player has 0 kills
Line 2231: Player has 0 kills
Line 2250: Player has 0 kills
Line 2261: Player has 0 kills
Line 2297: Player has 0 kills
Line 2300: Player has 0 kills
Line 2301: Player has 0 kills
Line 2319: Player has 0 kills
Line 2321: Player has 0 kills
Line 2334: Player has 0 kills
Line 2372: Player has 0 kills
Line 2401: Player has 0 kills
Line 2404: Player has 0 kills
Line 2417: Player has 0 kills
Line 2420: Player has 0 kills
Line 2551: Player has 0 kills
Line 2555: Player has 0 kills
Line 2556: Player has 0 kills
Line 2585: Player has 0 kills
Line 2613: Player has 0 kills
Line 2630: Player has 0 kills
Line 2649: Player has 0 kills
Line 2665: Player has 0 kills
Line 2673: Player has 0 kills
Line 2676: Player has 0 kills
Line 2680: Player has 0 kills
Line 2688: Player has 0 kills
Line 2694: Player has 0 kills
Line 2706: Player has 0 kills
Line 2726: Player has 0 kills
Line 2738: Player has 0 kills
Line 2741: Player has 0 kills
Line 2743: Player has 0 kills
Line 2764: Player has 0 kills
Line 2766: Player has 0 kills
Line 2772: Player has 0 kills
Line 2789: Player has 0 kills
Line 2798: Player has 0 kills
Line 2801: Player has 0 kills
Line 2817: Player has 0 kills
Line 2862: Player has 0 kills
Line 2865: Player has 0 kills
Line 2893: Player has 0 kills
Line 2905: Player has 0 kills
Line 2926: Player has 0 kills
Line 2927: Player has 0 kills
Line 2938: Player has 0 kills
Line 2952: Player has 0 kills
Line 2956: Player has 0 kills
Line 2968: Player has 0 kills
Line 2999: Player has 0 kills
Line 3005: Player has 0 kills
Line 3018: Player has 0 kills
Line 3055: Player has 0 kills
Line 3057: Player has 0 kills
Line 3099: Player has 0 kills
Line 3110: Player has 0 kills
Line 3112: Player has 0 kills
Line 3118: Player has 0 kills
Line 3140: Player has 0 kills
Line 3146: Player has 0 kills
Line 3147: Player has 0 kills
Line 3150: Player has 0 kills
Line 3159: Player has 0 kills
Line 3166: Player has 0 kills
Line 3178: Player has 0 kills
Line 3179: Player has 0 kills
Line 3180: Player has 0 kills
Line 3185: Player has 0 kills
Line 3202: Player has 0 kills
Line 3203: Player has 0 kills
Line 3210: Player has 0 kills
Line 3217: Player has 0 kills
Line 3250: Player has 0 kills
Line 3276: Player has 0 kills
Line 3291: Player has 0 kills
Line 3296: Player has 0 kills
Line 3298: Player has 0 kills
Line 3300: Player has 0 kills
Line 3311: Player has 0 kills
Line 3323: Player has 0 kills
Line 3331: Player has 0 kills
Line 3332: Player has 0 kills
Line 3333: Player has 0 kills
Line 3334: Player has 0 kills
Line 3343: Player has 0 kills
Line 3353: Player has 0 kills
Line 3366: Player has 0 kills
Line 3375: Player has 0 kills
Line 3410: Player has 0 kills
Line 3414: Player has 0 kills
Line 3417: Player has 0 kills
Line 3420: Player has 0 kills
Line 3431: Player has 0 kills
Line 3438: Player has 0 kills
Line 3460: Player has 0 kills
Line 3471: Player has 0 kills
Line 3473: Player has 0 kills
Line 3487: Player has 0 kills
Line 3537: Player has 0 kills
Line 3564: Player has 0 kills
Line 3585: Player has 0 kills
Line 3590: Player has 0 kills
Line 3619: Player has 0 kills
Line 3627: Player has 0 kills
Line 3633: Player has 0 kills
Line 3634: Player has 0 kills
Line 3658: Player has 0 kills
Line 3675: Player has 0 kills
Line 3679: Player has 0 kills
Line 3719: Player has 0 kills
Line 3722: Player has 0 kills
Line 3738: Player has 0 kills
Line 3739: Player has 0 kills
Line 3746: Player has 0 kills
Line 3767: Player has 0 kills
Line 3768: Player has 0 kills
Line 3769: Player has 0 kills
Line 3774: Player has 0 kills
Line 3793: Player has 0 kills
Line 3815: Player has 0 kills
Line 3830: Player has 0 kills
Line 3845: Player has 0 kills
Line 3947: Player has 0 kills
Line 3984: Player has 0 kills

Line 3995: Player has 0 kills
Line 4003: Player has 0 kills
Line 4032: Player has 0 kills
Line 4067: Player has 0 kills
Line 4086: Player has 0 kills
Line 4087: Player has 0 kills
Line 4089: Player has 0 kills
Line 4108: Player has 0 kills
Line 4115: Player has 0 kills
Line 4127: Player has 0 kills
Line 4152: Player has 0 kills
Line 4155: Player has 0 kills
Line 4160: Player has 0 kills
Line 4184: Player has 0 kills
Line 4192: Player has 0 kills
Line 4243: Player has 0 kills
Line 4257: Player has 0 kills
Line 4260: Player has 0 kills
Line 4268: Player has 0 kills
Line 4299: Player has 0 kills
Line 4309: Player has 0 kills
Line 4313: Player has 0 kills
Line 4331: Player has 0 kills
Line 4340: Player has 0 kills
Line 4348: Player has 0 kills
Line 4349: Player has 0 kills
Line 4375: Player has 0 kills
Line 4389: Player has 0 kills
Line 4400: Player has 0 kills
Line 4419: Player has 0 kills
Line 4434: Player has 0 kills
Line 4436: Player has 0 kills
Line 4437: Player has 0 kills
Line 4442: Player has 0 kills
Line 4447: Player has 0 kills
Line 4460: Player has 0 kills
Line 4467: Player has 0 kills
Line 4474: Player has 0 kills
Line 4483: Player has 0 kills
Line 4485: Player has 0 kills
Line 4491: Player has 0 kills
Line 4502: Player has 0 kills
Line 4527: Player has 0 kills
Line 4562: Player has 0 kills
Line 4570: Player has 0 kills
Line 4573: Player has 0 kills
Line 4587: Player has 0 kills
Line 4589: Player has 0 kills
Line 4600: Player has 0 kills
Line 4603: Player has 0 kills
Line 4617: Player has 0 kills
Line 4619: Player has 0 kills
Line 4640: Player has 0 kills
Line 4685: Player has 0 kills
Line 4708: Player has 0 kills
Line 4711: Player has 0 kills
Line 4712: Player has 0 kills
Line 4718: Player has 0 kills
Line 4720: Player has 0 kills
Line 4727: Player has 0 kills
Line 4728: Player has 0 kills
Line 4729: Player has 0 kills
Line 4742: Player has 0 kills
Line 4747: Player has 0 kills
Line 4748: Player has 0 kills
Line 4786: Player has 0 kills
Line 4791: Player has 0 kills
Line 4799: Player has 0 kills
Line 4800: Player has 0 kills
Line 4813: Player has 0 kills
Line 4841: Player has 0 kills
Line 4862: Player has 0 kills
Line 4865: Player has 0 kills
Line 4870: Player has 0 kills
Line 4872: Player has 0 kills
Line 4895: Player has 0 kills
Line 4929: Player has 0 kills
Line 4936: Player has 0 kills
Line 4939: Player has 0 kills
Line 4940: Player has 0 kills
Line 4990: Player has 0 kills
Line 4994: Player has 0 kills
Line 5000: Player has 0 kills
Line 5029: Player has 0 kills
Line 5049: Player has 0 kills
Line 5050: Player has 0 kills
Line 5055: Player has 0 kills
Line 5080: Player has 0 kills
Line 5085: Player has 0 kills
Line 5088: Player has 0 kills
Line 5128: Player has 0 kills
Line 5130: Player has 0 kills
Line 5134: Player has 0 kills
Line 5155: Player has 0 kills
Line 5158: Player has 0 kills
Line 5159: Player has 0 kills
Line 5190: Player has 0 kills
Line 5211: Player has 0 kills
Line 5243: Player has 0 kills
Line 5244: Player has 0 kills
Line 5246: Player has 0 kills
Line 5271: Player has 0 kills
Line 5279: Player has 0 kills
Line 5287: Player has 0 kills
Line 5294: Player has 0 kills
Line 5327: Player has 0 kills
Line 5340: Player has 0 kills
Line 5342: Player has 0 kills
Line 5344: Player has 0 kills
Line 5358: Player has 0 kills
Line 5361: Player has 0 kills
Line 5363: Player has 0 kills
Line 5364: Player has 0 kills
Line 5366: Player has 0 kills
Line 5367: Player has 0 kills
Line 5380: Player has 0 kills
Line 5392: Player has 0 kills
Line 5399: Player has 0 kills
Line 5416: Player has 0 kills
Line 5419: Player has 0 kills
Line 5433: Player has 0 kills
Line 5442: Player has 0 kills
Line 5450: Player has 0 kills
Line 5462: Player has 0 kills
Line 5538: Player has 0 kills
Line 5540: Player has 0 kills
Line 5576: Player has 0 kills
Line 5579: Player has 0 kills
Line 5591: Player has 0 kills

In [15]:
matches.shape

(5596, 92)

In [16]:
matches['t_first_kill'].plot(kind = 'hist')

# sen_log

In [15]:
timeStamps = [
              '3',
              '5',
              '8',
              '10',
              '12',
              '15',
              '20',
              '25',
              '30'
             ]
sen_cnt = {
                'id':0,
                't_sen_cnt_3':0,
                't_sen_cnt_5':0,
                't_sen_cnt_8':0,
                't_sen_cnt_10':0,
                't_sen_cnt_12':0,
                't_sen_cnt_15':0,
                't_sen_cnt_20':0,
                't_sen_cnt_25':0,
                't_sen_cnt_30':0       
                }

sen = pd.DataFrame(columns = [key for key, value in sen_cnt.items()])

for i in range(0, len(matches['sen_log'])):
    
    if (i % 1000 == 0):
        print("%s Matches has been processed" %i)
    
    sen_cnt = {
                'id':0,
                't_sen_cnt_3':0,
                't_sen_cnt_5':0,
                't_sen_cnt_8':0,
                't_sen_cnt_10':0,
                't_sen_cnt_12':0,
                't_sen_cnt_15':0,
                't_sen_cnt_20':0,
                't_sen_cnt_25':0,
                't_sen_cnt_30':0,
                't_sen_rpm_3':0,
                't_sen_rpm_5':0,
                't_sen_rpm_8':0,
                't_sen_rpm_10':0,
                't_sen_rpm_12':0,
                't_sen_rpm_15':0,
                't_sen_rpm_20':0,
                't_sen_rpm_25':0,
                't_sen_rpm_30':0    
                }
    try: 
        if matches['sen_log'][i] is not None:
            cumulative = 0
            for j in range(0, len(matches['sen_log'][i])):
                for timeStamp in timeStamps:
                    if matches['sen_log'][i][j]['time'] < int(timeStamp) * 60:
                        varName_cnt = "t_sen_cnt_" + timeStamp
                        varName_rpm = "t_sen_rpm_" + timeStamp
                        sen_cnt[varName_cnt] += 1
                        sen_cnt[varName_rpm] += 1 / float(timeStamp)
            sen_cnt['id'] = matches['id'][i]
            senRow = pd.DataFrame.from_dict(sen_cnt, orient = 'index').transpose()
            sen = sen.append(senRow, ignore_index=True)
        else: print("Line %s: Log does not exists" %i)
    except Exception:
        print("Line %s: Unknown error" %i)

0 Matches has been processed
1000 Matches has been processed
2000 Matches has been processed
3000 Matches has been processed
4000 Matches has been processed
5000 Matches has been processed

In [16]:
matches = matches.merge(sen, left_on='id', right_on='id', how='inner')
matches.shape

(5380, 110)

# Возникают новые записи в таблице, хотя используется inner join. С чем это может быть связано?

# obs_log

In [78]:
def aggregate_by_times(log, log_name, times=None):
    aggregations = {}
    if times is None:
        times = [t for t in range(0, 31) if t % 5 == 0]
    for agg_type in ('cnt', 'rpm'):
        aggregations.update({
            't_{}_{}_{}'.format(log_name, t, agg_type): 0 
            for t in times
        })
        for record in log:
            for t in times:
                if record['time'] <= t * 60:
                    agg_name = 't_{}_{}_{}'.format(log_name, t, agg_type)
                    if agg_type == 'cnt':
                        aggregations[agg_name] += 1
                    elif agg_type == 'rpm':
                        aggregations[agg_name] += 1 / float(t if t != 0 else 1)      
    return aggregations

In [89]:
df_observers = pd.DataFrame(matches['obs_log'].apply(lambda obs_log: aggregate_by_times(obs_log, 'obs')).tolist())

In [93]:
pd.concat([matches, df_observers], axis=1).head()

,account_id,assists,attack_type,buyback_log,camps_stacked,cluster,creeps_stacked,deaths,denies,duration,...,t_obs_15_cnt,t_obs_15_rpm,t_obs_20_cnt,t_obs_20_rpm,t_obs_25_cnt,t_obs_25_rpm,t_obs_30_cnt,t_obs_30_rpm,t_obs_5_cnt,t_obs_5_rpm
0,111189717,6,Melee,[],2.0,224,6.0,3,12,1704,...,0,0.000000,0,0.00,0,0.0,0,0.000000,0,0.0
1,148215639,7,Ranged,[],0.0,224,0.0,6,13,1704,...,0,0.000000,0,0.00,0,0.0,0,0.000000,0,0.0
2,90882159,5,Ranged,[],0.0,224,0.0,4,12,1704,...,0,0.000000,0,0.00,0,0.0,0,0.000000,0,0.0
3,114239371,6,Melee,[],0.0,224,0.0,6,1,1704,...,4,0.266667,4,0.20,5,0.2,5,0.166667,1,0.2
4,119576842,8,Ranged,[],0.0,224,0.0,5,3,1704,...,3,0.200000,5,0.25,5,0.2,5,0.166667,1,0.2

In [17]:
timeStamps = [
              '3',
              '5',
              '8',
              '10',
              '12',
              '15',
              '20',
              '25',
              '30'
             ]
obs_cnt = {
                'id':0,
                't_obs_cnt_3':0,
                't_obs_cnt_5':0,
                't_obs_cnt_8':0,
                't_obs_cnt_10':0,
                't_obs_cnt_12':0,
                't_obs_cnt_15':0,
                't_obs_cnt_20':0,
                't_obs_cnt_25':0,
                't_obs_cnt_30':0       
                }

obs = pd.DataFrame(columns = [key for key, value in obs_cnt.items()])

for i in range(0, len(matches['obs_log'])):
    
    if (i % 1000 == 0):
        print("%s Matches has been processed" %i)
    
    obs_cnt = {
                'id':0,
                't_obs_cnt_3':0,
                't_obs_cnt_5':0,
                't_obs_cnt_8':0,
                't_obs_cnt_10':0,
                't_obs_cnt_12':0,
                't_obs_cnt_15':0,
                't_obs_cnt_20':0,
                't_obs_cnt_25':0,
                't_obs_cnt_30':0,
                't_obs_rpm_3':0,
                't_obs_rpm_5':0,
                't_obs_rpm_8':0,
                't_obs_rpm_10':0,
                't_obs_rpm_12':0,
                't_obs_rpm_15':0,
                't_obs_rpm_20':0,
                't_obs_rpm_25':0,
                't_obs_rpm_30':0    
                }
    try: 
        if matches['obs_log'][i] is not None:
            cumulative = 0
            for j in range(0, len(matches['obs_log'][i])):
                for timeStamp in timeStamps:
                    if matches['obs_log'][i][j]['time'] < int(timeStamp) * 60:
                        varName_cnt = "t_obs_cnt_" + timeStamp
                        varName_rpm = "t_obs_rpm_" + timeStamp
                        obs_cnt[varName_cnt] += 1
                        obs_cnt[varName_rpm] += 1 / float(timeStamp)
            obs_cnt['id'] = matches['id'][i]
            obsRow = pd.DataFrame.from_dict(obs_cnt, orient = 'index').transpose()
            obs = obs.append(obsRow, ignore_index=True)
        else: print("Line %s: Log does not exists" %i)
    except Exception:
        print("Line %s: Unknown error" %i)

0 Matches has been processed
1000 Matches has been processed
2000 Matches has been processed
3000 Matches has been processed
4000 Matches has been processed
5000 Matches has been processed

In [18]:
matches = matches.merge(obs, left_on='id', right_on='id', how='inner')
print(matches.shape)

(5380, 128)

# runes_log

In [19]:
timeStamps = [
              '3',
              '5',
              '8',
              '10',
              '12',
              '15',
              '20',
              '25',
              '30'
             ]
runes_cnt = {
                'id':0,
                't_runes_cnt_3':0,
                't_runes_cnt_5':0,
                't_runes_cnt_8':0,
                't_runes_cnt_10':0,
                't_runes_cnt_12':0,
                't_runes_cnt_15':0,
                't_runes_cnt_20':0,
                't_runes_cnt_25':0,
                't_runes_cnt_30':0       
                }

runes = pd.DataFrame(columns = [key for key, value in runes_cnt.items()])

for i in range(0, len(matches['runes_log'])):
    
    if (i % 1000 == 0):
        print("%s Matches has been processed" %i)
    
    runes_cnt = {
                'id':0,
                't_runes_cnt_3':0,
                't_runes_cnt_5':0,
                't_runes_cnt_8':0,
                't_runes_cnt_10':0,
                't_runes_cnt_12':0,
                't_runes_cnt_15':0,
                't_runes_cnt_20':0,
                't_runes_cnt_25':0,
                't_runes_cnt_30':0,
                't_runes_rpm_3':0,
                't_runes_rpm_5':0,
                't_runes_rpm_8':0,
                't_runes_rpm_10':0,
                't_runes_rpm_12':0,
                't_runes_rpm_15':0,
                't_runes_rpm_20':0,
                't_runes_rpm_25':0,
                't_runes_rpm_30':0    
                }
    try:
        if matches['runes_log'][i] is not None:
            cumulative = 0
            for j in range(0, len(matches['runes_log'][i])):
                for timeStamp in timeStamps:
                    if matches['runes_log'][i][j]['time'] < int(timeStamp) * 60:
                        varName_cnt = "t_runes_cnt_" + timeStamp
                        varName_rpm = "t_runes_rpm_" + timeStamp
                        runes_cnt[varName_cnt] += 1
                        runes_cnt[varName_rpm] += 1 / float(timeStamp)
            runes_cnt['id'] = matches['id'][i]
            runesRow = pd.DataFrame.from_dict(runes_cnt, orient = 'index').transpose()
            runes = runes.append(runesRow, ignore_index=True)
        else: print("Line %s: Log does not exists" %i)
    except Exception:
        print("Line %s: Unknown error" %i)

0 Matches has been processed
1000 Matches has been processed
2000 Matches has been processed
3000 Matches has been processed
4000 Matches has been processed
5000 Matches has been processed

In [20]:
matches = matches.merge(runes, left_on='id', right_on='id', how='inner')
matches.shape

(5380, 146)

# buyback_log

In [21]:
timeStamps = [
              '3',
              '5',
              '8',
              '10',
              '12',
              '15',
              '20',
              '25',
              '30'
             ]
buyback_cnt = {
                'id':0,
                't_buyback_cnt_3':0,
                't_buyback_cnt_5':0,
                't_buyback_cnt_8':0,
                't_buyback_cnt_10':0,
                't_buyback_cnt_12':0,
                't_buyback_cnt_15':0,
                't_buyback_cnt_20':0,
                't_buyback_cnt_25':0,
                't_buyback_cnt_30':0       
                }

buyback = pd.DataFrame(columns = [key for key, value in buyback_cnt.items()])

for i in range(0, len(matches['buyback_log'])):
    
    if (i % 1000 == 0):
        print("%s Matches has been processed" %i)
    
    buyback_cnt = {
                'id':0,
                't_buyback_cnt_3':0,
                't_buyback_cnt_5':0,
                't_buyback_cnt_8':0,
                't_buyback_cnt_10':0,
                't_buyback_cnt_12':0,
                't_buyback_cnt_15':0,
                't_buyback_cnt_20':0,
                't_buyback_cnt_25':0,
                't_buyback_cnt_30':0,
                't_buyback_rpm_3':0,
                't_buyback_rpm_5':0,
                't_buyback_rpm_8':0,
                't_buyback_rpm_10':0,
                't_buyback_rpm_12':0,
                't_buyback_rpm_15':0,
                't_buyback_rpm_20':0,
                't_buyback_rpm_25':0,
                't_buyback_rpm_30':0    
                }
    try: 
        if matches['buyback_log'][i] is not None:
            cumulative = 0
            for j in range(0, len(matches['buyback_log'][i])):
                for timeStamp in timeStamps:
                    if matches['buyback_log'][i][j]['time'] < int(timeStamp) * 60:
                        varName_cnt = "t_buyback_cnt_" + timeStamp
                        varName_rpm = "t_buyback_rpm_" + timeStamp
                        buyback_cnt[varName_cnt] += 1
                        buyback_cnt[varName_rpm] += 1 / float(timeStamp)
            buyback_cnt['id'] = matches['id'][i]
            buybackRow = pd.DataFrame.from_dict(buyback_cnt, orient = 'index').transpose()
            buyback = buyback.append(buybackRow, ignore_index=True)
        else: print("Line %s: Log does not exists" %i)
    except Exception:
        print("Line %s: Unknown error" %i)

0 Matches has been processed
1000 Matches has been processed
2000 Matches has been processed
3000 Matches has been processed
4000 Matches has been processed
5000 Matches has been processed

In [22]:
matches = matches.merge(buyback, left_on='id', right_on='id', how='inner')
matches.shape

(5380, 164)

In [23]:
buyback.shape

(5380, 19)

# Hero statistics

In [139]:
urlHeroes = "https://api.opendota.com/api/heroStats"

In [140]:
resp = requests.get('https://api.opendota.com/api/heroStats')
data = resp.json()
if resp.status_code == 400 and data is not None:
    sys.stderr.write(data['err'])
resp.raise_for_status()

In [162]:
def create_hero_stats_table():
    hero_stats_url = 'https://api.opendota.com/api/heroStats'
    resp = requests.get(hero_stats_url)
    data = resp.json()
    if resp.status_code == 400 and data is not None:
        sys.stderr.write(data.get('error'))
    resp.raise_for_status()
    df_heroes = pd.DataFrame(data)
    df_heroes.drop(['id', 'icon', 'img', 'name', 'roles'], axis=1, inplace=True)
    return df_heroes
df_heroes = create_hero_stats_table()
df_heroes.head()

,1000_pick,1000_win,2000_pick,2000_win,3000_pick,3000_win,4000_pick,4000_win,5000_pick,5000_win,...,legs,localized_name,move_speed,primary_attr,pro_ban,pro_pick,pro_win,projectile_speed,str_gain,turn_rate
0,11678,6037,28573,15250,36313,19432,12208,6346,1897,932,...,2,Anti-Mage,310,agi,239.0,87.0,48.0,0,1.3,0.5
1,8263,4389,17031,8904,17566,8975,4757,2432,563,265,...,2,Axe,290,str,10.0,20.0,12.0,900,2.8,0.6
2,2549,1160,6521,3006,8930,4239,3290,1576,710,363,...,4,Bane,310,int,274.0,166.0,93.0,900,2.4,0.6
3,9865,5093,18436,9441,18941,9778,5613,2834,967,496,...,2,Bloodseeker,285,agi,126.0,65.0,33.0,900,2.7,0.5
4,6142,3345,14055,7664,16953,9076,5128,2656,635,333,...,2,Crystal Maiden,275,int,8.0,10.0,2.0,900,2.0,0.5

In [168]:
dota_hero_roles = [
    'Carry', 'Disabler', 'Initiator', 'Jungler',
    'Support', 'Durable', 'Nuker', 'Escape', 'Pusher',
]

In [170]:
df_hero_roles = pd.DataFrame(columns=dota_hero_roles)
df_hero_roles.append()

Empty DataFrame
Columns: [Carry, Disabler, Initiator, Jungler, Support, Durable, Nuker, Escape, Pusher]
Index: []

In [172]:
roles_lst = ['Support', 'Nuker', 'Disabler', 'Durable', 'Initiator']
{role: 1 for role in roles_lst}

{'Disabler': 1, 'Durable': 1, 'Initiator': 1, 'Nuker': 1, 'Support': 1}

In [177]:
matches['role_log'].apply(lambda hero_roles_list: {role: 1 for role in hero_roles_list}).apply(pd.Series).head()

,Carry,Disabler,Durable,Escape,Initiator,Jungler,Nuker,Pusher,Support
0,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
1,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,1.0
2,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN
3,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,1.0
4,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [137]:
heroesList = list()
heroAttr = [
            'id',
            'localized_name', 
            'attack_type',
            'pro_ban', 
            'pro_pick', 
            'pro_win', 
            'primary_attr', 
            'roles'
            ]
heroRolesList = [
                'Carry',
                'Disabler',
                'Initiator',
                'Jungler',
                'Support',
                'Durable',
                'Nuker',
                'Escape',
                'Pusher'
                ]

for heroId in range(0, len(dictData) - 1):    
    heroRaw = dict()
    
    for heroRole in heroRolesList:
        heroRaw[heroRole] = 0
    for key, value in dictData[heroId].items():
        if key in heroAttr:
            heroRaw[key] = dictData[heroId][key]
            if key == 'roles':
                for heroRole in dictData[heroId][key]:
                    heroRaw[heroRole] = 1
    del heroRaw['roles']                
    heroesList.append(heroRaw)

In [138]:
heroes = pd.DataFrame(heroesList)
print(heroes.shape)
heroes.head()

(114, 16)

,Carry,Disabler,Durable,Escape,Initiator,Jungler,Nuker,Pusher,Support,attack_type,id,localized_name,primary_attr,pro_ban,pro_pick,pro_win
0,1,0,0,1,0,0,1,0,0,Melee,1,Anti-Mage,agi,239.0,87.0,48.0
1,0,1,1,0,1,1,0,0,0,Melee,2,Axe,str,10.0,20.0,12.0
2,0,1,1,0,0,0,1,0,1,Ranged,3,Bane,int,274.0,166.0,93.0
3,1,1,0,0,1,1,1,0,0,Melee,4,Bloodseeker,agi,126.0,66.0,33.0
4,0,1,0,0,0,1,1,0,1,Ranged,5,Crystal Maiden,int,8.0,10.0,2.0

# Возможно косяк здесь, потому что есть по 4 записи на команду, а не 5

In [28]:
matches.groupby(['team_id', 'match_id'], as_index=False).count()

,team_id,match_id,account_id,assists,attack_type,buyback_log,camps_stacked,cluster,creeps_stacked,deaths,...,t_buyback_cnt_8,t_buyback_rpm_10,t_buyback_rpm_12,t_buyback_rpm_15,t_buyback_rpm_20,t_buyback_rpm_25,t_buyback_rpm_3,t_buyback_rpm_30,t_buyback_rpm_5,t_buyback_rpm_8
0,3.0,3275808176,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
1,3.0,3276098324,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
2,3.0,3276229201,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
3,3.0,3276392063,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
4,3.0,3277831396,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
5,3.0,3278010775,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
6,3.0,3278177232,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
7,3.0,3278441447,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
8,3.0,3278675143,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
9,3.0,3278898021,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
10,3.0,3279901754,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
11,3.0,3280092629,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
12,3.0,3280169747,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
13,3.0,3282010340,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
14,3.0,3282102427,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
15,3.0,3282203829,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
16,3.0,3282263076,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
17,3.0,3282333669,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
18,4.0,3276461749,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
19,4.0,3276594961,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
20,4.0,3276896729,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
21,4.0,3277076708,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
22,4.0,3277530246,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
23,4.0,3278648453,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
24,4.0,3278707616,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
25,4.0,3278894409,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
26,4.0,3279344693,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
27,5.0,3352140562,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
28,5.0,3352200165,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
29,5.0,3353742932,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,4592777.0,3276084732,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1091,4592777.0,3276818595,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1092,4592777.0,3277054034,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1093,4592777.0,3277853682,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1094,5004103.0,3275038059,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1095,5004103.0,3275563733,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1096,5004103.0,3275918851,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1097,5004103.0,3276025304,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1098,5004103.0,3276934942,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1099,5004103.0,3277122831,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1100,5004103.0,3277585436,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1101,5004103.0,3277799119,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1102,5004103.0,3278082996,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1103,5005565.0,3275066534,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1104,5005565.0,3275178718,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1105,5005565.0,3275351174,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1106,5005565.0,3275549361,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1107,5005565.0,3275689511,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1108,5005565.0,3275836033,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1109,5005565.0,3276014675,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1110,5005565.0,3276105966,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1111,5005565.0,3276819345,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1112,5005565.0,3276945212,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1113,5005565.0,3277054034,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1114,5005565.0,3277179017,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1115,5005565.0,3277383440,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1116,5005565.0,3277502885,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1117,5005565.0,3277707782,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1118,5005565.0,3277867284,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1119,5005565.0,3278061206,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [29]:
matches= matches.merge(heroes, left_on = 'hero_id', right_on = 'id', how = 'inner')
matches.shape

(5367, 180)

# EXP_RPM

In [30]:
timeStamps = [
              '3',
              '5',
              '8',
              '10',
              '12',
              '15',
              '20',
              '25',
              '30'
             ]
var = 'experience'
varTemplate = 't_' + var + '_'
for timeStamp in timeStamps:
    varName_cnt = varTemplate + 'cnt_' + timeStamp
    varName_rpm = varTemplate + 'rpm_' + timeStamp
    matches[varName_rpm] = matches[varName_cnt] / float(timeStamp)

# GOLD_RPM

In [31]:
timeStamps = [
              '3',
              '5',
              '8',
              '10',
              '12',
              '15',
              '20',
              '25',
              '30'
             ]
var = 'gold'
varTemplate = 't_' + var + '_'
for timeStamp in timeStamps:
    varName_cnt = varTemplate + 'cnt_' + timeStamp
    varName_rpm = varTemplate + 'rpm_' + timeStamp
    matches[varName_rpm] = matches[varName_cnt] / float(timeStamp)

# LASTHITS_RPM

In [32]:
timeStamps = [
              '3',
              '5',
              '8',
              '10',
              '12',
              '15',
              '20',
              '25',
              '30'
             ]
var = 'lasthits'
varTemplate = 't_' + var + '_'
for timeStamp in timeStamps:
    varName_cnt = varTemplate + 'cnt_' + timeStamp
    varName_rpm = varTemplate + 'rpm_' + timeStamp
    matches[varName_rpm] = matches[varName_cnt] / float(timeStamp)

In [33]:
for col in list(matches):
    print(col)

account_id
assists
attack_type_x
buyback_log
camps_stacked
cluster
creeps_stacked
deaths
denies
duration
first_blood_time
gold_per_min
gold_spent
hero_damage
hero_healing
hero_id
kills
kills_log
last_hits
leagueid
leaguename
level
localized_name_x
match_id
obs_log
ping_log
player_slot
primary_attr_x
purchase_log
role_log
runes_log
sen_log
start_time
stuns
t_experience_cnt_10
t_experience_cnt_12
t_experience_cnt_15
t_experience_cnt_20
t_experience_cnt_25
t_experience_cnt_3
t_experience_cnt_30
t_experience_cnt_5
t_experience_cnt_8
t_gold_cnt_10
t_gold_cnt_12
t_gold_cnt_15
t_gold_cnt_20
t_gold_cnt_25
t_gold_cnt_3
t_gold_cnt_30
t_gold_cnt_5
t_gold_cnt_8
t_lasthits_cnt_10
t_lasthits_cnt_12
t_lasthits_cnt_15
t_lasthits_cnt_20
t_lasthits_cnt_25
t_lasthits_cnt_3
t_lasthits_cnt_30
t_lasthits_cnt_5
t_lasthits_cnt_8
team_id
tower_damage
win
xp_per_min
id_x
datetime
t_item_aether_lens
t_item_arcane_boots
t_item_black_king_bar
t_item_blade_mail
t_item_blink
t_item_boots
t_item_bottle
t_item_desolator
t_item_echo_sabre
t_item_force_staff
t_item_hand_of_midas
t_item_hurricane_pike
t_item_invis_sword
t_item_magic_wand
t_item_manta
t_item_phase_boots
t_item_power_treads
t_item_ring_of_aquila
t_item_silver_edge
t_item_sphere
t_item_tranquil_boots
t_item_travel_boots
t_item_ultimate_scepter
t_item_wind_lace
t_first_kill
t_sen_cnt_10
t_sen_cnt_12
t_sen_cnt_15
t_sen_cnt_20
t_sen_cnt_25
t_sen_cnt_3
t_sen_cnt_30
t_sen_cnt_5
t_sen_cnt_8
t_sen_rpm_10
t_sen_rpm_12
t_sen_rpm_15
t_sen_rpm_20
t_sen_rpm_25
t_sen_rpm_3
t_sen_rpm_30
t_sen_rpm_5
t_sen_rpm_8
t_obs_cnt_10
t_obs_cnt_12
t_obs_cnt_15
t_obs_cnt_20
t_obs_cnt_25
t_obs_cnt_3
t_obs_cnt_30
t_obs_cnt_5
t_obs_cnt_8
t_obs_rpm_10
t_obs_rpm_12
t_obs_rpm_15
t_obs_rpm_20
t_obs_rpm_25
t_obs_rpm_3
t_obs_rpm_30
t_obs_rpm_5
t_obs_rpm_8
t_runes_cnt_10
t_runes_cnt_12
t_runes_cnt_15
t_runes_cnt_20
t_runes_cnt_25
t_runes_cnt_3
t_runes_cnt_30
t_runes_cnt_5
t_runes_cnt_8
t_runes_rpm_10
t_runes_rpm_12
t_runes_rpm_15
t_runes_rpm_20
t_runes_rpm_25
t_runes_rpm_3
t_runes_rpm_30
t_runes_rpm_5
t_runes_rpm_8
t_buyback_cnt_10
t_buyback_cnt_12
t_buyback_cnt_15
t_buyback_cnt_20
t_buyback_cnt_25
t_buyback_cnt_3
t_buyback_cnt_30
t_buyback_cnt_5
t_buyback_cnt_8
t_buyback_rpm_10
t_buyback_rpm_12
t_buyback_rpm_15
t_buyback_rpm_20
t_buyback_rpm_25
t_buyback_rpm_3
t_buyback_rpm_30
t_buyback_rpm_5
t_buyback_rpm_8
Carry
Disabler
Durable
Escape
Initiator
Jungler
Nuker
Pusher
Support
attack_type_y
id_y
localized_name_y
primary_attr_y
pro_ban
pro_pick
pro_win
t_experience_rpm_3
t_experience_rpm_5
t_experience_rpm_8
t_experience_rpm_10
t_experience_rpm_12
t_experience_rpm_15
t_experience_rpm_20
t_experience_rpm_25
t_experience_rpm_30
t_gold_rpm_3
t_gold_rpm_5
t_gold_rpm_8
t_gold_rpm_10
t_gold_rpm_12
t_gold_rpm_15
t_gold_rpm_20
t_gold_rpm_25
t_gold_rpm_30
t_lasthits_rpm_3
t_lasthits_rpm_5
t_lasthits_rpm_8
t_lasthits_rpm_10
t_lasthits_rpm_12
t_lasthits_rpm_15
t_lasthits_rpm_20
t_lasthits_rpm_25
t_lasthits_rpm_30

# Заметка: после join появляются id_x и id_y - айдишники правых и левых таблиц

In [34]:
print(matches['id_x'].unique().size)

5367

In [35]:
print(matches['id_y'].unique().size)

111

# Используем id_x в качестве уникального id.
Аналог SQL select distinct id_x from matches (Удаляем дубликаты)

In [36]:
matches.drop_duplicates(subset = 'id_x', inplace = True)

In [37]:
matches.shape

(5367, 207)

In [38]:
matchesWithoutLogs = matches.drop(labels = ['buyback_log', 'kills_log', 'obs_log', 'ping_log', 'purchase_log', 'role_log', 'runes_log', 'sen_log'], axis = 1)

# Добавление ролей игроков

In [39]:
playersRoles = download_google_spreadsheet('https://docs.google.com/spreadsheets/d/e/2PACX-1vRV7SmVCA3a-IgxDRmhEJjFwLner7tEgRXHy_gcgav7GF2pCv4bOlwwt6B8RHkBP8LxV6Idf3zVVnze/pub?output=csv')

In [40]:
playersRoles.head()

  team  player  role  account_id
0   OG  n0tail     1    19672354
1   OG     ana     2   311360822
2   OG   JerAx     4    26771994
3   OG      s4     3    41231571
4   OG     Fly     5    94155156

In [41]:
matchesWithoutLogs = matchesWithoutLogs.merge(playersRoles, left_on = 'account_id', right_on = 'account_id', how = 'left')
matchesWithoutLogs.shape

(5408, 202)

In [42]:
matchesWithoutLogs.drop_duplicates(subset = 'id_x', inplace = True)
matchesWithoutLogs.shape

(5367, 202)

In [47]:
matchesWithoutLogs.to_csv('ABT.csv', na_rep = 'NaN', sep = ';')