# TODO: выгрузить 10к матчей psql, гонять модель на них

In [1]:
import pandas as pd
import json

In [62]:
df_matches = pd.read_csv('analysis_table.csv', header=None, names=['data'])
df_matches['data'] = df_matches.data.apply(lambda json_string: json.loads(json_string))
df_matches['odota'] = df_matches.data.apply(lambda dct: dct['odota']['players'])
# df_matches.drop('data', axis=1, inplace=True) 
df_matches.head()

,data,odota
0,"{'mouse': [{'total': 26.732679999999675, 'wast...","[{'obs': {}, 'sen': {}, 'dn_t': [0, 2, 2, 4, 8..."
1,"{'mouse': [{'total': 26.894380000000467, 'wast...","[{'obs': {}, 'sen': {}, 'dn_t': [0, 0, 0, 0, 0..."
2,"{'mouse': [{'total': 16.662880000000484, 'wast...","[{'obs': {'128': {'144': 1}, '154': {'160': 1}..."
3,"{'mouse': [{'total': 21.462040000000286, 'wast...","[{'obs': {}, 'sen': {}, 'dn_t': [0, 0, 4, 8, 9..."
4,"{'mouse': [{'total': 28.481289999999433, 'wast...","[{'obs': {}, 'sen': {}, 'dn_t': [0, 0, 0, 0, 0..."

In [70]:
def unpack(lst):
    series_list = []
    for slot in range(10):
        series_list.append(pd.Series(lst[slot]))
    return pd.DataFrame(series_list)

In [80]:
matches_list = []
for match in df_matches.odota:
    matches_list.append(unpack(match))

In [83]:
df_matches = pd.concat(matches_list)
df_matches.head()

,XP_per_min,ability_uses,account_id,actions,additional_units_inventory,assists,buyback_log,camps_stacked,creeps_stacked,damage,...,sen_log,sen_placed,stuns,teamfight_participation,times,tower_damage,towers_killed,xp_per_min,xp_reasons,xp_t
0,660,"{'invoker_wex': 124, 'invoker_quas': 166, 'inv...",179940558,"{'1': 8506, '2': 19, '4': 1470, '5': 42, '6': ...",NaN,15,[],1,1,"{'npc_dota_hero_viper': 5906, 'npc_dota_badguy...",...,[],0,31.578997,0.465116,"[0, 60, 120, 180, 240, 300, 360, 420, 480, 540...",2748,0,660,"{'0': 1104, '1': 8634, '2': 11371}","[0, 149, 600, 1065, 1550, 1963, 2262, 2825, 33..."
1,844,"{'tiny_toss': 20, 'tiny_avalanche': 23, 'tiny_...",125534059,"{'1': 3077, '2': 9, '4': 927, '5': 42, '6': 88...",NaN,11,[],1,1,"{'npc_dota_hero_viper': 7653, 'npc_dota_badguy...",...,[],0,36.503174,0.790698,"[0, 60, 120, 180, 240, 300, 360, 420, 480, 540...",8067,3,844,"{'0': 300, '1': 15912, '2': 10745}","[0, 132, 390, 641, 920, 1330, 1667, 1757, 2295..."
2,550,"{'sandking_epicenter': 4, 'sandking_sand_storm...",253829645,"{'1': 6172, '2': 5, '4': 738, '5': 58, '6': 31...",NaN,18,[],0,0,"{'npc_dota_hero_viper': 850, 'npc_dota_sentry_...",...,"[{'x': 170, 'y': 92, 'z': 130, 'key': '[170, 9...",8,52.046730,0.511628,"[0, 60, 120, 180, 240, 300, 360, 420, 480, 540...",520,0,550,"{'0': 1488, '1': 10694, '2': 5411}","[0, 132, 390, 651, 930, 1014, 1217, 1386, 1430..."
3,519,"{'medusa_stone_gaze': 4, 'medusa_mana_shield':...",141329148,"{'1': 5943, '3': 53, '4': 996, '5': 7, '6': 31...",NaN,3,[],0,0,"{'npc_dota_hero_viper': 1083, 'npc_dota_badguy...",...,[],0,11.551307,0.139535,"[0, 60, 120, 180, 240, 300, 360, 420, 480, 540...",6427,5,519,"{'0': 415, '1': 2268, '2': 13915}","[0, 118, 301, 569, 746, 946, 1242, 1451, 1640,..."
4,503,"{'centaur_stampede': 10, 'centaur_hoof_stomp':...",120341124,"{'1': 8335, '2': 2, '3': 1, '4': 478, '5': 27,...",NaN,15,[],0,0,"{'npc_dota_hero_viper': 914, 'npc_dota_hero_ce...",...,[],0,31.478241,0.488372,"[0, 60, 120, 180, 240, 300, 360, 420, 480, 540...",1686,1,503,"{'0': 1823, '1': 7391, '2': 6876}","[0, 0, 0, 71, 254, 490, 729, 1007, 1196, 1522,..."